body {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

canvas {
    outline: 10px burlywood solid;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

button {
    color: white;
    background-color: darkgoldenrod;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    border: 10px gold solid;
    border-radius: 20px;
}

.button-pressed {
    border: 10px darkgray solid;
    background-color: gray;
}